
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$red: #9A031E;
$deepBlue: #0F4C5C;
$yellow: #FB8B24;
$deepPurple: #5F0F40;
$paleYellow: #e9ff70;
$pink: #ff0054;
$cosmo: #577590;
$greenBlue: #277da1;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
